@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
  background: #ecf0f1;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(132deg, #ffd89b, #19547b);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  color: #323232;
  background-color: #f9f9f9;
}

.modal-btn {
  background-color: #444444;
  color: #e7e7e7;
  padding: 3px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid #6b6b6b;
  box-shadow: 0 0 3px #898989;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
