@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.rotate {
  animation: rotation 360s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
