@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
  background: #ecf0f1;
}

body {
  margin: 0;
  padding: 0;
}

.uk-navbar {
  background-color: #252c2c !important;
}

.uk-navbar-dropdown {
  background-color: #252c2c !important;
}

.uk-navbar-dropbar {
  background-color: #252c2c !important;
}
