html {
  scroll-behavior: smooth;
}

.btn-live {
  background: white;
  text-align: center;
  color: #191919;
  font-weight: bold;
  padding: 2px 20px;
  border-radius: 2px;
  font-size: 18px;
  -webkit-transition: 0.4s; /* For Safari 3.0 to 6.0 */
  transition: 0.4s; /* For modern browsers */
}

.btn-gh {
  background: white;
  width: 30px;
  text-align: center;
  color: #191919;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 18px;
  margin-left: 10px;
  -webkit-transition: 0.4s; /* For Safari 3.0 to 6.0 */
  transition: 0.4s; /* For modern browsers */
}

.btn-live:hover,
.btn-gh:hover {
  transform: scale(1.05);
  color: white;
  background: #4e5a68;
}
