@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  /* 40% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-3%);
  }
  90% {
    transform: translateX(1%);
  } */
  100% {
    transform: translateX(0);
  }
}

body {
  font-family: 'Merriweather', serif;
  border: 1vh solid gray;
  display: block;
  background: #eeeee7;
}

.portfolio {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px gray;
  -moz-box-shadow: 0 0 20px gray;
  box-shadow: 0 0 20px gray;
}

.widthAdjust {
  max-width: 80vw;
  margin: auto;
  padding: 0;
}

.navbar {
  background-color: #eeeee7 !important;
  font-size: 13px !important;
  font-weight: 900;
}

.logo {
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  position: absolute;
  margin-top: 2px;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rowBitmoji {
  animation: 1.4s ease-out 0s 1 slideInFromLeft;
  height: 45vh;
  min-width: 40vh;
  vertical-align: middle;
  text-align: center;
}

.smallDesc {
  line-height: 35px;
  padding-top: 15px;
  font-style: italic;
  font-size: 15px;
}

.smallDescPortfolio {
  margin-right: 10vw;
  padding-top: 10px;
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.nav-item {
  cursor: pointer;
}

.borderLg {
  margin: auto;
  width: 100%;
  border-bottom: 1px solid gray;
}

.borderBottom {
  margin: auto;
  width: 80%;
  margin-bottom: 5vh;
  margin-top: 3vh;
  border-bottom: 1px solid gray;
}

.smallTitle {
  font-size: 18px;
  font-weight: 700;
}

.titleHeader {
  font-size: 30px;
  margin: auto;
  margin-top: 5vw;
  overflow-wrap: break-word;
  font-weight: 900;
}

.titleHeaderPortfolio {
  font-size: 23px;
  margin: auto;
  margin-top: 2vw;
  overflow-wrap: break-word;
  font-weight: 900;
}

.titleHeaderRow {
  min-height: 15vh;
  vertical-align: middle;
  text-align: center;
  max-width: 90vw;
  margin: auto;
}

#nav {
  min-height: 10vh !important;
  border-left: 1vh solid gray;
  border-right: 1vh solid gray;
  border-top: 1vh solid gray;
}

@media screen and (max-width: 480px) {
  .portfolio {
    background-color: red;
  }
}
